.content-about .content {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $white;

  .category-heading {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-colour;
    @extend %larger-heading;
  }

  .news-description {
    @extend %lead-copy;
    margin-bottom: 60px;
  }

  .news-item {
    margin-bottom: 45px;

    h3 {
      margin-top: 30px;
    }
  }
}
