footer {
  border-top: 10px solid #aaa;
  background-color: #eee;
  padding: 40px 10px 10px;

  .footer-inner {
    border-bottom: 1px solid #777;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }

  h5 {
    @extend %large-text;
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
  }

  .information,
  .other {
    ul {
      margin-top: 20px;

      li a {
        @extend %small-text;
        color: #777;
        text-decoration: underline;
      }
    }
  }

  .information {
    float: left;
    width: 65%;

    ul {
      float: left;
      width: 50%;
    }
  }

  .other {
    float: right;
    width: 33%;
  }
}
