footer {
  border-top: 10px solid #aaa;
  background-color: #eee;
  padding-top: 30px;

  h5 {
    @extend %large-text;
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
  }

  ul {
    margin-top: 10px;

    li a {
      @extend %small-text;
      color: #777;
      text-decoration: underline;
    }
  }

  .separator {
    display: block;
    border-bottom: 1px solid #777;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
}
