input[type="text"],
input[type="email"],
select,
textarea {
  @extend %medium-copy;
  padding: 10px;
  border: 1px solid $border-colour;
}

input[type="submit"] {
  @extend %medium-copy;
  padding: 10px;
  border-bottom: 2px solid $black;
  background-color: $grey-2;
  color: $white;
}

