header.page-header {
  background-color: $black;
  padding-top: 0;

  .logo,
  .top-nav {
    display: block;
  }

  .logo {
    display: block;
    float: left;
    border-left: 2px solid $white;
    margin: 10px 0;

    a {
      text-decoration: none;
    }

    img {
      margin: 0 10px;
      width: 40px;
    }

    span {
      @extend %large-heading;
      vertical-align: bottom;
      color: $white;
      font-weight: normal;
      line-height: 40px;
    }
  }

  .top-nav {
    float: right;
    margin: 10px 0;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      @extend %small-copy;
      color: $white;
    }
  }
}
