header.page-header {
  background-color: #0b0c0c;
  padding-top: 0;

  .logo,
  .top-nav {
    display: block;
  }

  .logo {
    float: left;
    color: #fff;
    margin: 5px 0;
  }

  .top-nav {
    float: right;
    margin: 10px 0;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      @extend %small-copy;
      color: #fff;
    }
  }
}
