.content-homepage {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $white;

  .category-heading {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-colour;
    @extend %larger-heading;
  }

  .link-list {
    li {
      a {
        display: block;
        color: $black;
      }

      h4 {
        @extend %medium-heading;
        margin-bottom: 10px;
      }

      p {
        @extend %small-copy;
        margin-bottom: 30px;
      }
    }
  }

  .more {
    margin-top: 30px;
    border-top: 1px solid $border-colour;

    a {
      display: block;
      margin-top: 10px;
      @extend %medium-copy;
      text-decoration: underline;
      color: $black;
    }
  }
}
