.content-homepage {
  .news-and-features {
    .news-top-links {

      a {
        @extend %large-copy;
        color: #aaa; /* colour non-existent in colours.scss */
      }
    }

    .news-description {
      @extend %large-copy;
    }

    .news-list {
      li {
        margin-bottom: 30px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        color: $black;
      }

      h3 {
        @extend %large-heading;
        margin-bottom: 5px;
      }

      .timestamp {
        @extend %medium-copy;
        color: $grey-2;
      }
    }
  }
}
