.sub-header {
  background-color: #aaa; /* colour non-existent in colours.scss */

  .search {
    .search-inner {
      margin-top: 10px;
    }

    h1 {
      @extend %largest-heading;
      color: $white;
    }

    p {
      margin-top: 10px;
      @extend %body-copy;
      color: $white;
    }

    .search-bar {
      margin-top: 20px;

      input {
        height: 30px;
        width: 90%;
        border-width: 0;
        padding: 0 10px;
      }

      .search-icon {
      }
    }
  }

  .dwp-nav {
    .dwp-nav-inner {
      background-color: $black;
      margin-top: 10px;
      padding: 5px 10px;
    }


    .list-label {
      @extend %small-copy;
      color: $white;
    }

    ul {
      margin: 10px 0;
    }

    li a {
      @extend %medium-copy;
      font-weight: bold;
      color: $white;
      text-decoration: underline;
    }
  }
}
