div, span, p, li, h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
}

%smallest-text {
  font-size: 10px;
}

%smaller-text {
  font-size: 11px;
}

%small-text {
  font-size: 12px;
}

%medium-text {
  font-size: 14px;
}

%large-text {
  font-size: 16px;
}

%larger-text {
  font-size: 20px;
}

%largest-text {
  font-size: 24px;
}
