.sub-header {
  background-color: #333; /* colour non-existent in colours.scss */

  > .grid-pad {
    padding-top: 0;
  }

  .tabs {
    margin-top: 20px;

    li {
      float: left;
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      border-bottom: 1px solid transparent;
    }

    a {
      @extend %small-copy;
      text-align: center;
      min-width: 150px;
      display: block;
      padding: 10px 20px;
      background-color: $grey-2;
      color: #333;
    }

    .selected {
      border-bottom: 1px solid $white;

      a {
        background-color: $white;
      }
    }
  }

  .top-nav {
    ul {
      float: right;
      margin-top: 20px;
    }

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        line-height: 38px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: $grey-3;
      text-decoration: underline;
    }
  }

  .search {
    display: none;
  }

  @include mobile-mq {
    background-color: #aaa;
    position: relative;

    .search,
    .top-nav {
      display: none;

      .content-homepage & {
        display: block;
      }
    }

    .tabs {
      display: none;
      background-color: #333;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 1;
      padding: 0 20px;

      &.expanded {
        display: block;
      }

      li {
        display: block;
        float: none;
        border: none;

        &:last-of-type a {
          border-bottom: none;
        }
      }

      a {
        background-color: #333;
        color: $white;
        text-align: left;
        border-bottom: 1px solid $white;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .search {
      display: block;
      padding-top: 15px;

      .search-inner {
        position: relative;

        input[type="text"] {
          width: 100%;
        }

        input[type="submit"] {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 50px;
          background-color: $grey-1;
        }
      }
    }

    .top-nav {
      ul {
        text-align: center;
        float: none;

        a {
          line-height: 25px;
          color: $white;
        }
      }
    }
  }
}
