/* vendor */
/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
/* line 9, ../../sass/vendor/_simplegrid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../../sass/vendor/_simplegrid.scss */
body {
  margin: 0px;
}

/* line 19, ../../sass/vendor/_simplegrid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */
}

/* line 24, ../../sass/vendor/_simplegrid.scss */
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 32, ../../sass/vendor/_simplegrid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, ../../sass/vendor/_simplegrid.scss */
.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0px;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

/* line 44, ../../sass/vendor/_simplegrid.scss */
.push-right {
  float: right;
}

/* Content Columns */
/* line 50, ../../sass/vendor/_simplegrid.scss */
.col-1-1 {
  width: 100%;
}

/* line 53, ../../sass/vendor/_simplegrid.scss */
.col-2-3, .col-8-12 {
  width: 66.66%;
}

/* line 57, ../../sass/vendor/_simplegrid.scss */
.col-1-2, .col-6-12 {
  width: 50%;
}

/* line 61, ../../sass/vendor/_simplegrid.scss */
.col-1-3, .col-4-12 {
  width: 33.33%;
}

/* line 65, ../../sass/vendor/_simplegrid.scss */
.col-1-4, .col-3-12 {
  width: 25%;
}

/* line 69, ../../sass/vendor/_simplegrid.scss */
.col-1-5 {
  width: 20%;
}

/* line 73, ../../sass/vendor/_simplegrid.scss */
.col-1-6, .col-2-12 {
  width: 16.667%;
}

/* line 77, ../../sass/vendor/_simplegrid.scss */
.col-1-7 {
  width: 14.28%;
}

/* line 81, ../../sass/vendor/_simplegrid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 85, ../../sass/vendor/_simplegrid.scss */
.col-1-9 {
  width: 11.1%;
}

/* line 89, ../../sass/vendor/_simplegrid.scss */
.col-1-10 {
  width: 10%;
}

/* line 93, ../../sass/vendor/_simplegrid.scss */
.col-1-11 {
  width: 9.09%;
}

/* line 97, ../../sass/vendor/_simplegrid.scss */
.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */
/* line 103, ../../sass/vendor/_simplegrid.scss */
.col-11-12 {
  width: 91.66%;
}

/* line 107, ../../sass/vendor/_simplegrid.scss */
.col-10-12 {
  width: 83.333%;
}

/* line 111, ../../sass/vendor/_simplegrid.scss */
.col-9-12 {
  width: 75%;
}

/* line 115, ../../sass/vendor/_simplegrid.scss */
.col-5-12 {
  width: 41.66%;
}

/* line 119, ../../sass/vendor/_simplegrid.scss */
.col-7-12 {
  width: 58.33%;
}

/* Pushing blocks */
/* line 127, ../../sass/vendor/_simplegrid.scss */
.push-2-3, .push-8-12 {
  margin-left: 66.66%;
}

/* line 131, ../../sass/vendor/_simplegrid.scss */
.push-1-2, .push-6-12 {
  margin-left: 50%;
}

/* line 135, ../../sass/vendor/_simplegrid.scss */
.push-1-3, .push-4-12 {
  margin-left: 33.33%;
}

/* line 139, ../../sass/vendor/_simplegrid.scss */
.push-1-4, .push-3-12 {
  margin-left: 25%;
}

/* line 143, ../../sass/vendor/_simplegrid.scss */
.push-1-5 {
  margin-left: 20%;
}

/* line 147, ../../sass/vendor/_simplegrid.scss */
.push-1-6, .push-2-12 {
  margin-left: 16.667%;
}

/* line 151, ../../sass/vendor/_simplegrid.scss */
.push-1-7 {
  margin-left: 14.28%;
}

/* line 155, ../../sass/vendor/_simplegrid.scss */
.push-1-8 {
  margin-left: 12.5%;
}

/* line 159, ../../sass/vendor/_simplegrid.scss */
.push-1-9 {
  margin-left: 11.1%;
}

/* line 163, ../../sass/vendor/_simplegrid.scss */
.push-1-10 {
  margin-left: 10%;
}

/* line 167, ../../sass/vendor/_simplegrid.scss */
.push-1-11 {
  margin-left: 9.09%;
}

/* line 171, ../../sass/vendor/_simplegrid.scss */
.push-1-12 {
  margin-left: 8.33%;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 177, ../../sass/vendor/_simplegrid.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    /* grid-space to left */
    padding-right: 10px;
    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }

  /* line 186, ../../sass/vendor/_simplegrid.scss */
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }

  /* Mobile Layout */
  /* line 200, ../../sass/vendor/_simplegrid.scss */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }

  /* line 211, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-1 {
    width: 100%;
  }

  /* line 214, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }

  /* line 218, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }

  /* line 222, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }

  /* line 226, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }

  /* line 230, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-5 {
    width: 20%;
  }

  /* line 234, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }

  /* line 238, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-7 {
    width: 14.28%;
  }

  /* line 242, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-8 {
    width: 12.5%;
  }

  /* line 246, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-9 {
    width: 11.1%;
  }

  /* line 250, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-10 {
    width: 10%;
  }

  /* line 254, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-11 {
    width: 9.09%;
  }

  /* line 258, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-1-12 {
    width: 8.33%;
  }

  /* Layout Columns */
  /* line 264, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-11-12 {
    width: 91.66%;
  }

  /* line 268, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-10-12 {
    width: 83.333%;
  }

  /* line 272, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-9-12 {
    width: 75%;
  }

  /* line 276, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-5-12 {
    width: 41.66%;
  }

  /* line 280, ../../sass/vendor/_simplegrid.scss */
  .mobile-col-7-12 {
    width: 58.33%;
  }

  /* line 284, ../../sass/vendor/_simplegrid.scss */
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
}
/* definitions */
/*  */
/* line 1, ../../sass/v1/_common.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 1, ../../sass/v1/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../sass/v1/_reset.scss */
img {
  /*border: none;*/
}

/* line 10, ../../sass/v1/_reset.scss */
ul {
  list-style-type: none;
}

/* line 14, ../../sass/v1/_reset.scss */
ul ul {
  padding-left: 10px;
}

/* line 18, ../../sass/v1/_reset.scss */
input {
  border: 1px solid #555;
}

/* line 1, ../../sass/v1/_base.scss */
a {
  text-decoration: none;
}
/* line 4, ../../sass/v1/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../../sass/v1/_typography.scss */
div, span, p, li, h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
}

/* line 5, ../../sass/v1/_typography.scss */
.sub-header .dwp-nav .list-label {
  font-size: 10px;
}

/* line 9, ../../sass/v1/_typography.scss */
header .top-nav a, article.news-item .timestamp, article.news-item .content {
  font-size: 11px;
}

/* line 13, ../../sass/v1/_typography.scss */
footer .information ul li a,
footer .other ul li a, .sub-header .search p, .sub-header .dwp-nav li a {
  font-size: 12px;
}

/* line 21, ../../sass/v1/_typography.scss */
footer h5, article.news-item h3 {
  font-size: 16px;
}

/* line 29, ../../sass/v1/_typography.scss */
.sub-header .search h1 {
  font-size: 24px;
}

/* line 1, ../../sass/v1/_layout.scss */
body {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
}

/* line 1, ../../sass/v1/shared/_header.scss */
header {
  background-color: #0b0c0c;
}
/* line 4, ../../sass/v1/shared/_header.scss */
header .logo,
header .top-nav {
  display: block;
  width: 50%;
}
/* line 10, ../../sass/v1/shared/_header.scss */
header .logo {
  float: left;
  color: #fff;
  margin: 5px 0;
}
/* line 16, ../../sass/v1/shared/_header.scss */
header .top-nav {
  float: right;
  line-height: 80%;
  margin: 5px 0;
}
/* line 21, ../../sass/v1/shared/_header.scss */
header .top-nav li {
  display: inline-block;
  margin-right: 10px;
}
/* line 26, ../../sass/v1/shared/_header.scss */
header .top-nav a {
  color: #fff;
}

/* line 1, ../../sass/v1/shared/_footer.scss */
footer {
  border-top: 10px solid #aaa;
  background-color: #eee;
  padding: 40px 10px 10px;
}
/* line 6, ../../sass/v1/shared/_footer.scss */
footer .footer-inner {
  border-bottom: 1px solid #777;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
/* line 12, ../../sass/v1/shared/_footer.scss */
footer h5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #777;
}
/* line 20, ../../sass/v1/shared/_footer.scss */
footer .information ul,
footer .other ul {
  margin-top: 20px;
}
/* line 23, ../../sass/v1/shared/_footer.scss */
footer .information ul li a,
footer .other ul li a {
  color: #777;
  text-decoration: underline;
}
/* line 31, ../../sass/v1/shared/_footer.scss */
footer .information {
  float: left;
  width: 65%;
}
/* line 35, ../../sass/v1/shared/_footer.scss */
footer .information ul {
  float: left;
  width: 50%;
}
/* line 41, ../../sass/v1/shared/_footer.scss */
footer .other {
  float: right;
  width: 33%;
}

/* line 2, ../../sass/v1/shared/_news_item.scss */
article.news-item img {
  display: block;
  width: 100%;
}
/* line 7, ../../sass/v1/shared/_news_item.scss */
article.news-item .timestamp {
  color: #bbb;
}
/* line 12, ../../sass/v1/shared/_news_item.scss */
article.news-item h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 1, ../../sass/v1/homepage/_sub_header.scss */
.sub-header {
  background-color: #aaa;
}
/* line 4, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search {
  float: left;
  width: 67%;
}
/* line 8, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search .search-inner {
  margin-top: 20px;
  margin-left: 10px;
}
/* line 13, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search h1 {
  color: #fff;
}
/* line 18, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search p {
  margin-top: 10px;
  color: #fff;
}
/* line 24, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search .search-bar {
  margin-top: 20px;
}
/* line 27, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .search .search-bar input {
  height: 30px;
  width: 90%;
  border-width: 0;
  padding: 0 10px;
}
/* line 39, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .dwp-nav {
  float: right;
  width: 33%;
}
/* line 43, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .dwp-nav .dwp-nav-inner {
  background-color: #0b0c0c;
  margin-right: 10px;
  margin-top: 20px;
  padding: 5px 10px;
}
/* line 51, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .dwp-nav .list-label {
  color: #fff;
}
/* line 56, ../../sass/v1/homepage/_sub_header.scss */
.sub-header .dwp-nav li a {
  color: #fff;
  text-decoration: underline;
}

/* line 2, ../../sass/v1/homepage/_main.scss */
.content-homepage .category-heading {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #555;
}
